account_name    = "prod"
project_name    = "eks-mr-kms"
cluster_version = "1.31"
vpc_id          = "vpc-xxx"
subnet_ids      = ["subnet-xxx", "subnet-yyy"]
kms_deletion_window = 30

tags = {
  Environment   = "production"
  Encryption    = "multi-region-kms"
  DisasterRecovery = "enabled"
}
